#!/bin/bash
# Require root.
if [ "$(whoami)" != "root" ]; then
    exec sudo -- "$0" "$@";
    exit;
fi

# These represent the files you are modifying, ideally you will have an
# original copy of the source and a dev copy. We will copy the original file,
# append your dev work, and then make the dev copy of the kernel source.

declare -a TARGET_FILES
declare -a LOCAL_FILES

# The files in question. 
TARGET_FILES[0]='../linux-4.9.45-dev/arch/x86/entry/syscalls/syscall_64.tbl'
LOCAL_FILES[0]='./src/syscall_64.tbl'

TARGET_FILES[1]='../linux-4.9.45-dev/net/socket.c'
LOCAL_FILES[1]='./src/socket.c'

TARGET_FILES[2]='../linux-4.9.45-dev/include/linux/tcp.h'
LOCAL_FILES[2]='./src/linux_tcp.h'

TARGET_FILES[3]='../linux-4.9.45-dev/net/ipv4/tcp.c'
LOCAL_FILES[3]='./src/tcp.c'

TARGET_FILES[4]='../linux-4.9.45-dev/net/ipv4/tcp_output.c'
LOCAL_FILES[4]='./src/tcp_output.c'

TARGET_FILES[5]='../linux-4.9.45-dev/include/uapi/linux/tcp.h'
LOCAL_FILES[5]='./src/uapi_linux_tcp.h'

TARGET_FILES[6]='../linux-4.9.45-dev/include/net/tcp.h'
LOCAL_FILES[6]='./src/net_tcp.h'

# The root directory of your dev kernel source.
BUILD_DIR='../linux-4.9.45-dev';

# The version information.
BUILD_NUM=0;
EXTRAVERSION="-tcprepeat-$BUILD_NUM";
NEXT_BUILD=$((BUILD_NUM+1));
sed -i "/BUILD_NUM=${BUILD_NUM}/c\BUILD_NUM=${NEXT_BUILD}" build

echo Replacing source files with dev files...;
for ((i=0;i<${#LOCAL_FILES[@]};++i)); do
    echo Replacing ${LOCAL_FILES[i]} with ${TARGET_FILES[i]};

    cp ${LOCAL_FILES[i]} ${TARGET_FILES[i]};
done

echo Building test code;
cd ./testing/;
gcc client.c -o client;
gcc server.c -o server;
cd ..;

cd ${BUILD_DIR}
# Add in our extraversion
sed -i "/EXTRAVERSION =/c\EXTRAVERSION = ${EXTRAVERSION}" Makefile

echo Building Kernel ${EXTRAVERSION} in $(pwd).;
# Build and install kernel modules.
ccache make;
sudo make modules_install; # Requires root.
sudo make install; # Requires root.